.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.test {
  background-color: #FFE4C4;
  color : #8B4513;
  font-size: 40px;
  padding : 4px;
  text-align: center;
  margin-inline: 200px;
}

.input {
  margin-top : 30px;
  text-align: center;
}



.All {
  background-color: beige;
  text-align: center;
  width: 500px;
  height: 500px;
}

.red{
  background-color: red;
  width: 100px;
  height: 100px;
}

.orange{
  background-color: orange;
  width: 100px;
  height: 150px;
}

.yellow{
  background-color: yellow;
  width: 100px;
  height: 200px;
}

.green{
  background-color: green;
  width: 100px;
  height: 250px;
}

.blue{
  background-color: blue;
  width: 100px;
  height: 300px;
}

.navy{
  background-color: navy;
  width: 100px;
  height: 350px;
}

.purple{
  background-color: purple;
  width: 100px;
  height: 400px;
}


.best_title{
  font-weight: bold;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: coral;
}


.book_img{
  width: 140px;
  height: 200px;
  padding-bottom: 20px;
}

.title{
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 20px;
}

.content{
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 10px;
}